<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NTD_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <NTD_System.My.MySettings>
            <setting name="DayIndex" serializeAs="String">
                <value>FTTTTTT</value>
            </setting>
            <setting name="DiffDay" serializeAs="String">
                <value>FFFFFFT</value>
            </setting>
            <setting name="BaseLocation" serializeAs="String">
                <value>N:\</value>
            </setting>
            <setting name="CompletedLocation" serializeAs="String">
                <value>N:\Completed</value>
            </setting>
            <setting name="NumSurveys" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Defaults" serializeAs="String">
                <value>FTTTTTT,FFFFFFT,N:\,N:\Completed,9,\Surveys.xlsm,\setings.ntd,\Route_Run.csv,N\Created</value>
            </setting>
            <setting name="SetDat" serializeAs="String">
                <value>2018-07-06</value>
            </setting>
            <setting name="SurveyFileName" serializeAs="String">
                <value>Surveys.xlsm</value>
            </setting>
            <setting name="SettingsFileName" serializeAs="String">
                <value>setings.ntd</value>
            </setting>
            <setting name="RouteRunFileName" serializeAs="String">
                <value>Route_Run.csv</value>
            </setting>
            <setting name="WeekdayBatchFileName" serializeAs="String">
                <value>WDSurveyBatch.csv</value>
            </setting>
            <setting name="WeekendBatchFileName" serializeAs="String">
                <value>WESurveyBatch.csv</value>
            </setting>
            <setting name="CreatedLocation" serializeAs="String">
                <value>N:\Created</value>
            </setting>
            <setting name="TotalFile" serializeAs="String">
                <value>SurveyTotals.xlsx</value>
            </setting>
            <setting name="AMPeak" serializeAs="String">
                <value>5:00</value>
            </setting>
            <setting name="Afternoon" serializeAs="String">
                <value>10:30</value>
            </setting>
            <setting name="PMPeak" serializeAs="String">
                <value>14:00</value>
            </setting>
            <setting name="VehCapFile" serializeAs="String">
                <value>VehicleCapacity.csv</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>349, 146</value>
            </setting>
        </NTD_System.My.MySettings>
    </userSettings>
</configuration>