<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.15.0" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net48" />
  <package id="Ical.Net" version="4.2.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Nager.Date" version="1.30.0" targetFramework="net472" />
  <package id="NodaTime" version="3.0.9" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="unvell.ReoGrid.dll" version="3.0.0" targetFramework="net472" />
</packages>